*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/*Made the background img blur*/

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('currency.png');
    /* your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(5px);
    /* blurs only the background */
    z-index: -1;
    /* stays behind the container */
}

.container{
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 40vh;
}

form{
    margin: 2rem 0 1rem 0;
}

form select,button,input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

form input{
    border: 1px solid lightgrey;
    font-size: 1rem;
    height:3rem ;
    padding-left: 0.5rem;
}

.dropdown{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 2rem;
}

.select-container img{
    max-width: 2rem;
}

.select-container{
    display: flex;
    width: 6rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid lightgrey;

}

.dropdown i {
    font-size:1.5rem;
    margin-top: 1rem;
    width: auto;
}

.select-container select{
    font-size: 1rem;
    width: auto;
}

.msg{
    margin: 2rem 0 2rem 0;
}

form button{
    height: 3rem;
    background-color: rgb(77, 13, 136);
    color: white;
    font-size: 1.15rem;
    cursor: pointer;
}

.para{
    font-size: 1.3rem;
}
